.bannerHome {
  background-size: 100% 226%;
  background-position: center right;
  background-image: url('../../assets/banner-home.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  display: block;
  width: 100%;
  position: absolute;
}

.header  {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  position: relative;
  z-index: 500;
}

.logo {
  display: flex;
}

.logo img {
  width: 100%;
  max-width: 180px;
  max-height: 49px;
}

.menuAndLoupe {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  width: 70%;
}

.btnMenuMobile {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  transition: .4s;
}

.menu li a:hover {
  color: #000;
}

.menu li a.active {
  color: #000;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.loupe {
  max-width: 30px;
  cursor: pointer;
}

@media (max-width: 876px) {
  nav > div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
    transition: .4s;
    border-radius: 10px;
  }

  nav > div:hover {
    background-color: #000;
  }

  .menuAndLoupe {
    flex-direction: row-reverse;
    justify-content: end;
    gap: 1rem;
    width: 40%;
  }

  .btnMenuMobile {
    cursor: pointer;
    display: block;
    width: 30px;
    box-shadow: 0 -9px 0 #fff, 0 9px 0 #fff;
    height: 4px;
    border: none;
    position: absolute;
    top: 18.5px;
    right: 5px;
    background-color: #fff;
  }

  .menu {
    display: none;
    position: absolute;
    z-index: 30;
    right: 0px;
    top: 60px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    gap: 30px;
    animation: showMenu 1s forwards;
  }

  .menu.active {
    display: flex;
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 90px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    gap: 30px;
    animation: showMenu 1s forwards;
    box-shadow: 0 3px 3px 3px #000;
    width: 100%;
    flex-direction: column;
  }

  .menu li a {
    color: #000;
    position: relative;
    z-index: 30;
  }

  .menu li a:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    top: 23px;
    position: absolute;
    background-color: #000;
    display: block;
    animation: effectUnderline .4s forwards;
  }

  .search {
    padding: 20px 10px;
  }
}

@media (max-width: 1200px) {
  .bannerHome {
    background-size: 150% 226%;
  }
}

@media (max-width: 700px) {
  .bannerHome {
    background-size: 250% 226%;
  }
}

@media (max-width: 500px) {
  .bannerHome {
    background-size: 300% 226%;
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes effectUnderline {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}