.header  {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
}

.logo img {
  max-width: 250px;
  max-height: 49px;
}

.btnMenuMobile {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  transition: .4s;
}

.menu li a:hover {
  color: #000;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.loupe {
  max-width: 30px;
  cursor: pointer;
}

.descount button{
  color: #fff;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  transition: .4s;
}

.descount button:hover {
  background-color: #444;
}

@media (max-width: 1200px) {
  nav > div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
    transition: .4s;
    border-radius: 10px;
  }

  nav > div:hover {
    background-color: #000;
  }

  .btnMenuMobile {
    cursor: pointer;
    display: block;
    width: 30px;
    box-shadow: 0 -9px 0 #fff, 0 9px 0 #fff;
    height: 4px;
    border: none;
    position: absolute;
    top: 18.5px;
    right: 5px;
    background-color: #fff;
  }

  .menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 16px 0 0 16px;
    animation: showMenu 1s forwards;
  }

  .menu.active {
    display: flex;
    position: absolute;
    right: 0px;
    top: 60px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 16px 0 0 16px;
    animation: showMenu 1s forwards;
    box-shadow: 0 0 5px #000;
  }

  .menu li a {
    color: #000;
    position: relative;
  }

  .menu li a:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    top: 23px;
    position: absolute;
    background-color: #000;
    display: block;
    animation: effectUnderline .4s forwards;
  }

  .search {
    display: none;
    position: absolute;
    right: 0px;
    top: 127px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 0 0 0 16px;
    animation: showMenu 1s forwards;
  }

  .search.active {
    display: flex;
    box-shadow: 0 0 5px #000;
  }
}

@media (max-width: 700px) {
  .menu.active {
    flex-direction: column;
    border-radius: 16px 0 0 0;
  }

  .search {
    top: 413.5px;
    border-radius: 16px 0 0 16px;
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes effectUnderline {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}